.item {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.remove-btn {
  width: 2rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.quantity {
  width: 4rem;
  margin: 0.25rem 0 0.25rem auto;
}
/* Transitions for items list */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
/* Transitions to correct spinner display */
.spin-enter {
  visibility: visible;
}

.spin-enter-active {
  visibility: hidden;
  transition: all 10ms;
}

.spin-exit {
  visibility: hidden;
}

.spin-exit-active {
  visibility: visible;
  transition: all 10ms;
}
